@font-face {
  font-family: "QuickSand";
  src: url(/public/fonts/quicksand/Quicksand-Regular.otf) format("opentype");
}

@font-face {
  font-family: "SourceCode";
  src: url(/public/fonts/source-code-pro/SourceCodePro-Regular.otf) format("opentype");
}

body{
  padding: 24px;
  color: #f0ead6;
  font-family: "SourceCode", sans-serif;
  background-image: url('../public//background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
  font-family: "QuickSand";
}
.wave-animation {
  display: inline-block;
  font-size: 3rem;
  animation: wave 100s infinite ease-in-out;
}
.wave-emoji {
  display: inline-block;
  animation: wave-hand 8s infinite;
  transform-origin: 70% 70%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1px);
  }
}

@keyframes wave-hand {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(15deg);
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wave-animation {
  display: inline-block;
  font-size: 3rem;
  animation: wave 2s infinite ease-in-out;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
